:root {
    --neon-green: #00ff00;
    --dk-bg: #0b0c10;
    --card-color: rgba(255,255,255,0.1);
    --glassy-bg: rgba(255,255,255,0.03)
}
html, body{
    width: 100% !important;
    overflow-x: hidden;
    box-sizing: border-box;
}
.nav-Bar{
        width: 95%;
        padding: 0 15px;
        height: 60px;
        top: 10px;
        flex-wrap: wrap;
    }
    .logo-nav{
        font-size: 1.2rem !important;
    }
.navlinks{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--dk-bg);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--neon-green);
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navlinks li{
    padding: 15px 0;
}
.navlinks.open{
    display: flex;
}
.humburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10009;
}
.humburger .bar{
    width: 100%;
    height: 3px;
    background: var(--neon-green);
    border-radius: 10px;
}
.humburger.active .bar:nth-child(1) { transform: translateY(9px) rotate(45deg); }
.humburger.active .bar:nth-child(2) { opacity: 0; }
.humburger.active .bar:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }
.humburger.active .bar{
    display: flex;
}
.Hero-H1{
    letter-spacing: 1px;
    font-size: 2.5rem;
    word-wrap: break-word;
}
.typingEffectCtn{
    width: 90%;
    margin: 0 auto;
}
.cardContainers{
    grid-template-columns: 1fr !important;
    margin-top: 15px;
}
.section-title{
    width: 100% !important;
    margin-left: 5px !important;
    box-sizing: border-box;
}
.roadmapGrid{
    grid-template-columns: 1fr !important;
}
.roadmapCard{
    max-width: 300px !important;
}
.teamGrid{
    grid-template-columns: 1fr !important;
    margin: 20px;
    height: auto !important;
    min-height: 250px;
    margin-left: 0 !important;
}
.teamCard{
    opacity: 1 !important;
    transform: translateY(0) !important;
    margin-left: 10px !important;
    max-width: 80% !important;
}
.memberDesc, .memberLinks{
    margin-top: 2px;
}